<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>advancedfeaturesvalues</name>
	<displayName><![CDATA[Advanced Features Values]]></displayName>
	<version><![CDATA[1.0.9]]></version>
	<description><![CDATA[Allows multiple values selection per feature, and features values ordering.]]></description>
	<author><![CDATA[Jérôme Danthinne]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>